<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>Welcome to Wine Box Unlimited's Wine Recommender</title>
  </head>
  <body>

    <div> <h1> Welcome to Wine Box Unlimited's Wine Recommendation Assistant</h1></div>

        <nav><ul>
            <li class = "active"><a href="#">Wine Recommendation Assistant</a></li>
            <li><a href="#">About</a></li>
        </ul></nav>
    <div class="input-container">
        <p>Welcome, please input two different wines you like, including variety and the region the wine is from.</p>

        <form action="/wineinput" method="post">
            <label for="variety">Variety</label><br>
            <input type="text" name="variety"></input><br>
            <label for="region">Region</label><br>
            <input type="text" name="region"></input><br>
            <input type="submit" value="Find your perfect wines!"></input>
        </form>
    </div>
    <div class="wine-container">
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
