    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

{% extends 'base.html' %}

{% block content %}
        {% set count = namespace(value=1) %}
        {% for review in reviews %}
            {#% if review.variety == customer_preference %#}
                    {% if count.value <= 20 %}
                    <h2>{{count.value}}. {{review.country}} {{ review.state }} {{ review.region_1 }} {{ review.variety }}</h2>
                    <p>{{review['description']}}</p>
                    <h3>Review Rating: {{review.points}} - Wine Price: {{review.price}} - Winery: {{review.winery}} - Wine ID {{review.id}}</h3>
                    <hr>
                    {% set count.value = count.value + 1 %}
                    {% endif %}
            {#% endif %#}
        {% endfor %}
{% endblock %}

{% block graph %}

        <p>This is a couple of graphs based on your input</p>
            <script type="text/javascript">
                var graph = {{graphJSON | safe}};
                Plotly.plot('bargraph', graph.data, graph.layout);
            </script>
            <div id="bargraph"></div>


{% endblock %}
